doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title page2-part1
        link(rel="stylesheet", href="../css/page2-part1.css")
        script(src="../js/page2-part1.js" defer) 
        
    body 
        .header 
            section#nav
                img.logo(src="https://frankyeah.github.io/Front-Enter/images/FE_logo-4.png", alt="")
                nav
                    button#search-button(type="button") 探索
                    button#skilltree-button(type="button") 技能樹
                    button#login-button(type="button") 登入
                    img#click-glass(src="https://frankyeah.github.io/Front-Enter/images/FE_search_green.png", alt="")
                    
            section#search-box
                span SEARCH
                section#center-bar
                    input#search(type="search")
                    img.search-glass(src="https://frankyeah.github.io/Front-Enter/images/FE_search_green.png")
                
            section#black-box

        .nav-center-upper
            .slogan
                p 蒐羅前端學校 
            img.test-go-round(src="https://frankyeah.github.io/Front-Enter/images/FE_test_go.png")

        .nav-center-lower
            #All 全部
            #smallClass 小班制
            #freeRange 放養制
            #oneOnOne 一對一
            
        .main
            .block
                .location
                    img.location-logo(src='https://frankyeah.github.io/Front-Enter/images/location_icon_one.png')
                    span.location-name 台北
                .classroom-block 
                    .classroom-img-block 
                        .classroom-img 
                    span.classroom-name 彭彭的課程教學
                    p.classroom-intro 彭彭喜歡技術、更喜歡與人互動，是位略懂商業經營和行銷策略的務實創業者。
                    .readmore-link  
                        span.readmore read more
                        .readmore-arrow
            .block
                .location
                    img.location-logo(src='https://frankyeah.github.io/Front-Enter/images/location_icon_one.png')
                    span.location-name 台北
                .classroom-block 
                    .classroom-img-block 
                        .classroom-img 
                    span.classroom-name 彭彭的課程教學
                    p.classroom-intro 彭彭喜歡技術、更喜歡與人互動，是位略懂商業經營和行銷策略的務實創業者。
                    .readmore-link  
                        span.readmore read more
                        .readmore-arrow
            .block
                .location
                    img.location-logo(src='https://frankyeah.github.io/Front-Enter/images/location_icon_one.png')
                    span.location-name 台北
                .classroom-block 
                    .classroom-img-block 
                        .classroom-img 
                    span.classroom-name 彭彭的課程教學
                    p.classroom-intro 彭彭喜歡技術、更喜歡與人互動，是位略懂商業經營和行銷策略的務實創業者。
                    .readmore-link  
                        span.readmore read more
                        .readmore-arrow
            .block
                .location
                    img.location-logo(src='https://frankyeah.github.io/Front-Enter/images/location_icon_one.png')
                    span.location-name 高雄
                .classroom-block 
                    .classroom-img-block 
                        .classroom-img 
                    span.classroom-name 六角學院
                    p.classroom-intro 六角學院課程種類齊全，加上線上學習達成高效學習，同時也是帶您學到會的線上課程。
                    .readmore-link  
                        span.readmore read more
                        .readmore-arrow
            .block
                .location
                    img.location-logo(src='https://frankyeah.github.io/Front-Enter/images/location_icon_one.png')
                    span.location-name 各地
                .classroom-block 
                    .classroom-img-block 
                        .classroom-img 
                    span.classroom-name Udemy
                    p.classroom-intro Udemy 為不同類型的專家、講師提供平台，以免費或收費形式提供課程給大眾。
                    .readmore-link  
                        span.readmore read more
                        .readmore-arrow

        .top
            #topwrap(onclick="toTop()") 
                .top-arrow
                .top-icon 
                    h3 TOP

        .footer
            .footer-info
                a(href="") 聯絡
                .num 0918-120-210
                .mail wendy950210@gmail.com
            .fb-line
                a(href="https://www.facebook.com/WendyHsinYun" target="_blank") 
                    img.fb(src="https://frankyeah.github.io/Front-Enter/images/new-facebook-blue.svg")
                a(href="https://line.me/ti/p/OBVsxhRD9r" target="_blank") 
                    img.line(src="https://frankyeah.github.io/Front-Enter/images/FE_line.png")


        #animation
            img#animation-logo(src="https://frankyeah.github.io/Front-Enter/images/FE_logo-4.png", alt="")
            #animation-blue


    

