doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title article
        link(rel="stylesheet", href="../css/article.css")

        script(src='https://www.gstatic.com/firebasejs/5.5.1/firebase.js')
        script(src="../js/login.js")
        script(src="../js/all.js" defer)
        script(src="../js/article.js" defer)
        
        
        
    body 
        .header 
            #headerNav
                img.logo(src="https://frankyeah.github.io/Front-Enter/images/FE_logo-4.png", alt="")
                nav
                    button#search-button(type="button") 探索
                    button#skilltree-button(type="button") 技能樹
                    button#header-login(type="button") 登入
                    img#click-glass(src="https://frankyeah.github.io/Front-Enter/images/FE_search_green.png", alt="")

            #loginContainer 
                .loginBackground 
                    .loginBox
                        img.login(src="https://frankyeah.github.io/Front-Enter/images/FE_logo-2.png", alt="") 
                        form
                            input#email(type="email" name="email" placeholder="Email" required)
                            input#password(type="password" name="password" placeholder="******" required)
                        span.forgetPW 忘記密碼？
                        .blueBtn
                            button#register 註冊
                            button#login 登入

                        button#loginGmail log in with Gmail
                .remindBackground
                    .remindBox
                        .header Remind 
                        .content 
                        button OK 


            #search-box
                span SEARCH
                form#searchBar(action="") 
                    input#search(type='search' placeholder='搜尋課程名稱、所在城市或簡介' data-search)
                    img.voice(src="https://frankyeah.github.io/Front-Enter/images/microphone.svg", alt="")
                    img.search-glass(src="https://frankyeah.github.io/Front-Enter/images/FE_search_green.png")

            #black-box

        #nav-center-upper
            img.slide1(src="https://firebasestorage.googleapis.com/v0/b/front-enter.appspot.com/o/images%2Frotate-img-2.jpg?alt=media&token=f28dbea4-af0c-4743-a75a-426198fe409e", alt="")
            img.slide2(src="https://firebasestorage.googleapis.com/v0/b/front-enter.appspot.com/o/images%2Frotate-img-1.jpg?alt=media&token=059f5677-409b-4fc1-a772-baf1dece5063", alt="")   
            img.slide3(src="https://firebasestorage.googleapis.com/v0/b/front-enter.appspot.com/o/images%2Frotate-img-3.jpg?alt=media&token=8f7f8f02-5066-452a-863c-a4e715d2657a", alt="")

            .slogan
                p 蒐羅前端學校 

        .nav-center-lower
            span#allClass 全部
            span#smallClass 小班制
            span#freeRange 放養制
            span#oneOnOne 一對一
            .test-go.test-go-container
                img.test-go-round(src="https://frankyeah.github.io/Front-Enter/images/FE_test_go.png")
            .testContainer 
                .testBackground 
                    .boxContainer  
                        .testHeader 測驗說明
                        .testIntro 點選「開始測驗」後，系統將根據你的回答，找出最適合你的學習環境，並顯示有多少百分比的合適度。
                        .startBtn 開始測驗
                        .testQuestion Question Test
                        .testNumber 0/5

                        ul#testList  

                            li 
                                input#1.answer(type='radio' name='answer') 
                                label#1-text(for='1') 台北
                            li
                                input#2.answer(type='radio' name='answer')
                                label#2-text(for='2') 台北                           
                            li
                                input#3.answer(type='radio' name='answer')
                                label#3-text(for='3') 台北                           
                            li 
                                input#4.answer(type='radio' name='answer')
                                label#4-text(for='4') 台北
                            li 
                                input#5.answer(type='radio' name='answer')
                                label#5-text(for='5') 台北
                        button#newURL 學校 ABC
                        .pieContainer
                            .pieChart
                                .pieNum 20%


        .navCenter
        template(data-classroom-block)
            .block

                .star

                .city
                    img.locationLogo(src='https://frankyeah.github.io/Front-Enter/images/location_icon_one.png')
                    .cityName 
                .lowerBlock 
                    .squareOuter
                        img.squareInner(src='https://frankyeah.github.io/Front-Enter/images/2.jpg')
                    .className 
                    .preface 
                    a.readmore
                        .readmoreGuide read more
                        .readmoreArrow


        .top
            #topwrap(onclick="toTop()") 
                .top-arrow
                .top-icon 
                    h3 TOP

        .footer
            .footer-info
                a(href="") 聯絡
                .num 0918-120-210
                .mail wendy950210@gmail.com
            .fb-line
                a(href="https://www.facebook.com/WendyHsinYun" target="_blank") 
                    img.fb(src="https://frankyeah.github.io/Front-Enter/images/new-facebook-blue.svg")
                a(href="https://line.me/ti/p/OBVsxhRD9r" target="_blank") 
                    img.line(src="https://frankyeah.github.io/Front-Enter/images/FE_line.png")


        #animation
            img#animation-logo(src="https://frankyeah.github.io/Front-Enter/images/FE_logo-4.png", alt="")
            #animation-blue


    

